@model List<HotelProject.EntityLayer.Concrete.AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Role Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/Role/RoleDelete/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Role/RoleUpdate/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Role/RoleAdd/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Role Girişi</a>